/*
	button color: #00DD48
*/

body{
	background-color: #181818;
	color: #fff;
	margin: 0;
	font-size: 15px;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
/*-----------
Sidebar
------------*/
.Side{
	background-color: #282828;
	float: left;
	height: 100vh;
	position: fixed;
	width: 20%;
}
.searchSection{
	display: inline-block;
}
.menuSection{
	margin: 20px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 23px;
}
.searchInput{
	background-color: transparent;
	border: transparent;
	color: #fff;
	float: left;
	font-size: 130%;
	width: 70%;
}
.searchSubmit{
	float: right;
	color: grey;
}
.sideMenu a{
	display: block;
	text-decoration: none;
	padding-left: 8px;
	padding-top: 3px;
	padding-bottom: 1px;
	color: #989898;
	font-size: 110%;
	margin-top: 1px;
	margin-left: -10px;
	/*border-left: 4px solid transparent;*/
	transition: linear color 0.4s;
}
.sideMenu a:hover{
	/*border-left: 4px solid #00DD48;*/
	color: #00DD48;
}

/*-----------
Component Grid
------------*/
.GridSection{
	margin-left: 27%;
}
.Grid{
	display: flex;
	text-align: center;
	flex-flow: row wrap;
	padding: 10px;
}
.GridItem{
	margin: 2% 3% 0 5%;
}
/*-----------
Buttons
------------*/
button{
	background-color: transparent;
	border: transparent;
	color: #fff;
}
.spotIcon{
	float: left;
	margin-top: 7px;
}
.logout{
	margin-left: 15%;
	font-size: 22px;
}