/*
	button color: #00DD48
*/

body{
	background-color: #181818;
	color: #fff;
	margin: 0;
	font-size: 15px;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
/*-----------
Sidebar
------------*/
.Side{
	background-color: #282828;
	float: left;
	height: 100vh;
	position: fixed;
	width: 20%;
}
.searchSection{
	display: inline-block;
}
.searchInput{
	background-color: transparent;
	border: transparent;
	color: #fff;
	float: left;
	font-size: 130%;
	width: 70%;
}
.searchSubmit{
	float: right;
	color: grey;
}
.sideMenu a:hover{
	/*border-left: 4px solid #00DD48;*/
	color: #00DD48;
}

/*-----------
Component Grid
------------*/
.GridSection{
	min-height: 100vh;
}
.sem{
	background-color: #181818!important;
}
.Grid{
	background-color: #181818;
	display: flex;
	text-align: center;
	padding: 10px;
	min-height: 100vh;
	flex-wrap: wrap;
}
.GridItem{
	width: calc(33.33333% - 10px);
	padding: 10px;
}
.enclosing{
	border: 3px solid white;
}
/*-----------
Buttons
------------*/
button{
	background-color: transparent;
	border: transparent;
	color: #fff;
}
.spotIcon{
	margin-top: 7px;
	margin-bottom: -4px;
}
.logout{
	margin-left: 15%;
	font-size: 22px;
}